.tap{
  position: absolute;
  top: -60px;
  color: #645C56;
  font-weight: 800;
  text-align: center;
  background-color: #E9E5E3;
  padding: 10px;
  width: 70px;
  height: 40px;
  line-height: 40px;
}

.click {
  position: absolute;
  top: -60px;
  color: #645C56;
  font-weight: 800;
  text-align: center;
  background-color: #F9F9F9;
  padding: 10px;
  width: 70px;
  height: 40px;
  line-height: 40px;
}

.all {
  border-radius: 20px 0 0 0;
  cursor: pointer;
}

.dog {
  left: 90px;
  cursor: pointer;
}

.cat {
  left: 180px;
  cursor: pointer;
}

.rabbit {
  left: 270px;
  border-radius: 0 20px 0 0;
  cursor: pointer;
}

.container {
  width: 50%;
  position: absolute;
  top: -70px;
  right: -30px;
}

.container > div {
  display: inline-block;
  width: 65%;
  padding-top: 10px;
  position: relative;
}

.container > span {
  position: absolute;
  right: 30px;
}

.search {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #F9F9F9;
  border: none;
  padding-left: 15px;
  padding-right: 35px;
  box-sizing: border-box;
  caret-color: #C7C3BF;
  color: #645C56;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #b4b1ad;
}