.tap {
  color: #645c56;
  font-weight: 800;
  text-align: center;
  background-color: #e9e5e3;
  padding: 10px;
  width: 110px;
  height: 40px;
  line-height: 40px;
}

.click {
  color: #645c56;
  font-weight: 800;
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
  width: 110px;
  height: 40px;
  line-height: 40px;
}

.boardAll {
  border-radius: 20px 0 0 0;
  cursor: pointer;
}

.free {
  left: 130px;
  cursor: pointer;
}

.medical {
  left: 260px;
  border-radius: 0 20px 0 0;
  cursor: pointer;
  margin-right: 10px;
}

.container {
  flex-grow: 0.5;
}

.container > div {
  width: 100%;
  padding-top: 10px;
  position: relative;
}

.search {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #f9f9f9;
  border: none;
  padding-left: 15px;
  padding-right: 35px;
  box-sizing: border-box;
  caret-color: #c7c3bf;
  color: #645c56;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #b4b1ad;
}
