.petinfo {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: large;
  font-weight: 900;
}

.health {
  padding-top: 8px;
  font-size: 10px;
}

.list {
  margin-top: 10px;
  height: 55px;
  border-radius: 18px;
  text-align: center;
  line-height: 55px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.vaccine {
  color: #867D74;
  padding-left: 30px;
}

.day {
  color: white;
  padding-right: 30px;
}