* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}

.animal {
  font-weight: bold;
  font-size: 25px;
  color: #afa79f;
  margin-right: 8px;
  padding-left: 20px;
}

.title {
  font-weight: bold;
  font-size: 25px;
  color: #656565;
  margin-left: 8px;
}

.dropdown {
  position: absolute;
  z-index: 2;
  margin: 8px 0 0 10px;
  background-color: #fdfdfd;
  width: 100px;
  border-radius: 0 0 8px 8px;
}

.dropdown > li {
  font-size: 17px;
  font-weight: 550;
  list-style: none;
  padding: 11px 0;
  text-align: center;
  color: #7d7d7d;
}

.dropdown > li:hover {
  color: #afa79f;
}

.table {
  width: 800px;
  position: relative;
  z-index: 1;
  text-align: center;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  margin: 20px 0 0 30px;
}

.table > thead {
  background-color: #d6ccc3;
  color: white;
}

.table > tbody {
  background-color: #f5f5f5;
  color: #656565;
}

.table td {
  padding: 18px 24px;
}

.table > tbody > tr:first-child > td:first-child {
  padding-left: 30px;
}

.table > tbody > tr:last-child > td:first-child {
  padding-left: 30px;
}

.table > thead > tr > td:first-child {
  padding-left: 30px;
}

.table > tbody > tr:last-child > td {
  border-top: 1px solid #d3d3d3;
  padding-bottom: 18px;
}

.container {
  margin-top: 80px;
  width: 800px;
  box-sizing: border-box;
  padding: 0px 30px;
}

.container > div {
  margin-bottom: 60px;
  position: relative;
}

.container > div > h1 {
  font-weight: bold;
  font-size: 23px;
  color: #656565;
  display: inline-block;
  margin-right: 12px;
}

.container > div > p {
  width: 770px;
  color: #807f7f;
  font-size: 17px;
  line-height: 30px;
  text-justify: inter-cluster;
}

.container > div > span {
  position: absolute;
  top: 18px;
  cursor: pointer;
}
