.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: #faf5f1;
  padding-top: 10px;
  z-index: 5;
}

.header > div:first-child {
  display: flex;
}

.logo {
  padding: 0 7% 0 10%;
}

.navcontainer {
  padding: 18px 10% 0 0;
  width: 60%;
}

.navigation {
  display: flex;
}

.navigation > div {
  margin-right: 10%;
}

.logout {
  width: 10%;
  color: #afa79f;
  font-size: 13px;
  margin-right: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.accuse > h1 {
  color: #645c56;
  font-size: 20px;
  margin-left: 20px;
}

.category {
  margin-top: 20px;
  display: flex;
}

.category > div {
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 15px 0 0 0;
  background-color: #d1ccca;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.category > div:nth-child(2) {
  border-radius: 0 15px 0 0;
}

.accuseBoard {
  background-color: #ebe7e3;
  padding: 20px 30px 50px;
  height: 450px;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}

.accuseBoard > div:first-child {
  padding: 15px 19px;
  border-bottom: 1px solid #cec8c1;
}

.accuseBoard > div:not(:first-of-type) {
  padding: 15px 0;
  border-bottom: 1px solid #cec8c1;
  cursor: pointer;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.accuseBoard > div > div > p:first-child {
  color: #645c56;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.accuseBoard > div > div > span:nth-child(2) {
  color: #afa79f;
  font-size: 13px;
  margin-left: 20px;
}

.accuseBoard > div > p {
  color: #645c56;
  font-size: 15px;
  margin-right: 20px;
}

.accuseDetail {
  margin-top: 70px;
  width: 50%;
  background-color: #ebe7e3;
  border-radius: 20px;
  padding: 50px 30px;
  box-sizing: border-box;
}

.accuseDetail > div {
  padding: 0 20px 20px;
}

.accuseDetail > div > span:first-child,
.accuseDetail > div > span:nth-child(5) {
  font-weight: 600;
  color: #857f7a;
  margin-right: 20px;
}

.accuseDetail > div > span:nth-child(2),
.accuseDetail > div > span:nth-child(6) {
  color: #afa79f;
  font-weight: 600;
}

.accuseReason {
  background-color: white;
  border-radius: 10px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accuseReason > p:first-child {
  color: #645c56;
  margin: 30px 10px;
}

.accuseReason > p:nth-child(2) {
  color: #645c56;
  margin: 10px;
}

.accuseBtn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.plus {
  position: absolute;
  left: 200px;
  border: none !important;
}
