.vaccine {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adaaa790;
}

.modalContainer > span:first-child {
  position: absolute;
  top: -30px;
  right: 400px;
  cursor: pointer;
}

.modalContainer {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  background-color: #FDFDFD;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -250px;
}

.modalContainer > h1 {
  font-size: 20px;
  margin: 30px 40px;
  color: #656565;
}

.modalContainer > div {
  position: absolute;
  bottom: 25px;
  left: 120px;
}

.sort {
  z-index: 3;
  color: #827870;
  background-color: #EBE7E3;
  width: 130px;
  border-radius: 10px;
  position: relative;
}

.editSort {
  z-index: 1;
  color: #827870;
  background-color: #EBE7E3;
  width: 130px;
  border-radius: 10px;
  position: relative;
}

.default {
  z-index: 1;
  position: relative;
  left: 13px;
  bottom: 1px;
  line-height: 30px;
  font-size: small;
}

.dropdown > li {
  font-size: small;
  list-style: none;
  padding: 7px 13px;
}

.dropdown > li:last-child {
  border-radius: 0 0 10px 10px;
}

.dropdown > li:hover {
  background-color: #DFDAD4;
}

.modalContainer > div:nth-child(4) {
  position: absolute;
  left: 190px;
  top: 87px;
  height: 50px;
}

.modalContainer > span {
  position: absolute;
  right: 50px;
  top: 92px;
  cursor: pointer;
}

.datepicker {
  display: inline-block;
}

.custominput {
  color: #827870;
  background-color: #EBE7E3;
  border-style: none;
  border-radius: 10px;
  padding: 7px;
  box-sizing: border-box;
  width: 110px;
}

.modalContainer > div:nth-child(6) {
  position: absolute;
  top: 135px;
  left: 60px;
}

.vaccineHistory {
  margin-bottom: 20px;
  position: relative;
}

.vaccineHistory > span {
  color: #827870;
  font-size: 14px;
}

.vaccineHistory > span:first-child {
  margin-right: 65px;
}

.vaccineHistory > span:nth-child(3) {
  position: absolute;
  margin-left: 20px;
  cursor: pointer;
}

.vaccineHistory > span:last-child {
  position: absolute;
  margin-left: 55px;
  cursor: pointer;
}

.editVaccine {
  display: flex;
}

.editVaccine > ul {
  margin: 0 20px 20px -60px;
}

.check {
  cursor: pointer;
  margin-left: 31px;
  margin-top: 5px;
}