.footer {
  background-color: #F9F9F9;
  border-radius: 0 0 20px 20px;
  position: relative;
  padding: 40px;
}

.footer > span:first-child {
  position: absolute;
  right: 110px;
  bottom: 15px;
}

.footer > span:last-child{
  position: absolute;
  right: 40px;
  bottom: 15px;
}

.board {
  background-color: #F9F9F9;
}

.board > textarea {
  margin: 20px 60px;
  font-size: 16px;
  border: none;
  color: #787471;
  font-weight: 600;
  background-color: rgb(255, 255, 255, 0);
  height: 250px;
  width: 90%;
  resize: none;
}

.title {
  padding-bottom: 14px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #e6e6e6;
}

.title > input {
  margin-left: 60px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  color: #645C56;
  caret-color: #b4b1ad;
  background-color: rgb(255, 255, 255, 0);
}

.title > input::placeholder, .board > textarea::placeholder {
  color: #b4b1ad;
}

.title > input:focus, .board > textarea:focus {
  outline: none;
}

.header {
  background-color: #F9F9F9;
  padding-top: 10px;
  height: 50px;
  position: relative;
}

.header > ul:first-child {
  position: absolute;
  right: 170px;
}

.header > ul:nth-child(2) {
  position: absolute;
  right: 30px;
}

.sort {
  z-index: 2;
  color: #827870;
  background-color: #EBE7E3;
  width: 110px;
  border-radius: 10px;
  position: relative;
  padding-top: 10px;
}

.default {
  position: relative;
  left: 13px;
  bottom: 6px;
  padding-right: 15px;
  font-size: small;
}

.petdefault {
  position: relative;
  left: 17px;
  bottom: 6px;
  padding-right: 24px;
  font-size: small;
}

.boardCategory {
  position: absolute;
  right: 10px;
  top: 1px;
}

.dropdown > li {
  font-size: small;
  list-style: none;
  padding: 7px 13px;
}

.dropdown > li:last-child {
  border-radius: 0 0 10px 10px;
}

.dropdown > li:hover {
  background-color: #DFDAD4;
}

.petdropdown > li {
  font-size: small;
  list-style: none;
  padding: 7px 17px;
}

.petdropdown > li:last-child {
  border-radius: 0 0 10px 10px;
}

.petdropdown > li:hover {
  background-color: #DFDAD4;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}